﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            <img src="~/image/image-2.png" alt="" class="image-1">
            <div class="form-holder">
                @RenderBody()
            </div>
            <img src="~/image/image-2.png" alt="" class="image-2">
        </div>
    </div>
</body>
</html>