@using book.Models;
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Home.cshtml";
}
@model List<Book>

<style>
    .item {
        width: 100%; 
        max-width: 400px; 
        height: auto; 
        border: 2px dashed #343a40; 
        border-radius: 15px;
        display: inline-block;
        text-align: center;
        margin: 20px; 
        transition: transform 0.3s; 
    }

    .item img {
        width: 100%; 
        height: auto;
        object-fit: cover;
        border-radius: 15px 15px 0 0; 
    }

    .item h2 {
        margin: 10px 0;
        color: #343a40; 
    }

    .item a {
        display: inline-block;
        margin: 15px 0;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease, transform 0.3s ease; 
    }

    .item a:hover {
        background-color: #0056b3; 
        transform: scale(1.05); 
    }

    .home-button {
        display: block;
        margin: 40px auto; 
        padding: 15px 30px;
        font-size: 18px; 
    }
</style>

<body>
    <div class="container mt-5">
        <h1 class="text-center text-primary">Search Results</h1>
        <div class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div class="item col-sm-6 col-md-4">
                    <img src="/image/@item.photo" alt="Photo" />
                    <h2>@item.name</h2>
                    <a asp-action="Details" asp-route-id="@item.id">View Details</a>
                </div>
            }
        </div>
        <a class="btn btn-primary home-button" asp-action="AllBooks">Home Page</a>
    </div>
</body>
